<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>bnank1_myUpdate</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ExampleController</display-name>
    <servlet-name>ExampleController</servlet-name>
    <servlet-class>controller.ExampleController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExampleController</servlet-name>
    <url-pattern>/ExampleController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginX</display-name>
    <servlet-name>LoginX</servlet-name>
    <servlet-class>controller.LoginX</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginX</servlet-name>
    <url-pattern>/LoginX</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteServlet</display-name>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>controller.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/DeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchController</display-name>
    <servlet-name>SearchController</servlet-name>
    <servlet-class>controller.SearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchController</servlet-name>
    <url-pattern>/SearchController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResultSortController</display-name>
    <servlet-name>ResultSortController</servlet-name>
    <servlet-class>controller.ResultSortController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResultSortController</servlet-name>
    <url-pattern>/ResultSortController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaginationController</display-name>
    <servlet-name>PaginationController</servlet-name>
    <servlet-class>controller.PaginationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaginationController</servlet-name>
    <url-pattern>/PaginationController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SpecificSearchController</display-name>
    <servlet-name>SpecificSearchController</servlet-name>
    <servlet-class>controller.SpecificSearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SpecificSearchController</servlet-name>
    <url-pattern>/SpecificSearchController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RPaginationController</display-name>
    <servlet-name>RPaginationController</servlet-name>
    <servlet-class>controller.RPaginationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RPaginationController</servlet-name>
    <url-pattern>/RPaginationController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BPaginationController</display-name>
    <servlet-name>BPaginationController</servlet-name>
    <servlet-class>controller.BPaginationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BPaginationController</servlet-name>
    <url-pattern>/BPaginationController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteController</display-name>
    <servlet-name>deleteController</servlet-name>
    <servlet-class>controller.deleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteController</servlet-name>
    <url-pattern>/deleteController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteController</display-name>
    <servlet-name>DeleteController</servlet-name>
    <servlet-class>controller.deleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteController</servlet-name>
    <url-pattern>/DeleteController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InvoiceController</display-name>
    <servlet-name>InvoiceController</servlet-name>
    <servlet-class>controller.InvoiceController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InvoiceController</servlet-name>
    <url-pattern>/InvoiceController</url-pattern>
  </servlet-mapping>
</web-app>